.btn {
    color: #fff;
    background-color: #474056;
    border-color: #474056;
  }
.colorlist{
    color: #fff;
    background-color: #474056;
    border-color: #474056;
}
.graficas{
position: absolute;
}
.header{
  position: relative;
}
